version: "3.4"
services:
  arangodb:
    image: arangodb:3.7
    ports:
      - "8529:8529"
    restart: always
    environment:
      ARANGO_ROOT_PASSWORD: somepassword
      ARANGO_STORAGE_ENGINE: rocksdb
    volumes:
      - ./.docker/arangodb:/var/lib/arangodb3

  json-server:
    image: clue/json-server
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./negativacoes.json:/data/db.json
