version: "3.4"
services:
  arangodb:
    image: arangodb:3.7
    ports:
      - "8529:8529"
    restart: always
    environment:
      ARANGO_ROOT_PASSWORD: somepassword
      ARANGO_STORAGE_ENGINE: rocksdb
    volumes:
      - ./.docker/arangodb:/var/lib/arangodb3

  json-server:
    image: clue/json-server
    entrypoint: 'bash -c "json-server /data/db.json"'
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./negativacoes.json:/data/db.json

  negativations:
    image: negativations:0.1.0
    command: ["--config=/app/config.json"]
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./config.json:/app/config.json

  api-gateway:
    image: quay.io/datawire/ambassador:0.72.0
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./ambassador.yaml:/ambassador/ambassador-config/ambassador.yaml
